@font-face {
	font-family: squares;
	src: url(../assets/Squares.otf);
}
html, body {
	margin: 0;
	text-align: center;
	color: white;
	font-family: 'squares', sans-serif;
}
html {
	background-color: #000;
	background-image: url(../assets/background.png);
}
body {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
}
header {
	display: block;
	height: 150px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 2.5em;
	font-size: 1.5em;
	.title {
		display: block;
		font-size: 2.5em;
	}
	.logo {
		display: block;
		margin: auto;
		width: 99px;
		height: 75px;
		background-image: url(../assets/player.png);
		background-size: cover;
		margin-bottom: 20px;
	}
}
.content {
	.game-container {
		margin: 20px;
		min-width: 400px;
		#game {
			background: rgb(0, 0, 0);
			-webkit-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.75);
			box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.75);
		}
	}
	.about {
		hr {
			width: 75%;
		}
	}
}
a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}
footer {
	margin: 10px;
	margin-top: 50px;
}
